html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #1e1f30;
}

.btn {
    background-color: #272940;
    margin-bottom: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #090f1c;
}

.calculator-container {
    display: flex;
    height: 100vh;
    font-family: 'Play', sans-serif;
}

.sidebar {
    position: relative;
    width: 280px;
    background-color: #272940;
    padding: 20px;
    box-shadow: none;
}

    .sidebar h3 {
        margin-bottom: 1.5rem;
    }

.content {
    flex: 1;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.diagram {
    max-width: 500px;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    background-color: #090f1c;
    border: none;
    width: 250px;
    height: auto;
}

label {
    color: #f1c40f;
}

#diagramTitle {
    color: #f1c40f;
}

h3 {
    color: #f1c40f;
    font-family: 'Play', sans-serif;
    font-style: italic;
    font-weight: bold;
}

#length,
#width,
#height,
#thickness,
#wallThickness,
#lintelThickness,
#shelvesThickness,
#amount,
#diameter {
    background-color: #272940;
    border: none;
    color: white;
}

p {
    color: #f1c40f;
}

#result {
    color: #f1c40f;
}

#languageSelector button{
    font-family: 'Play', sans-serif;
    background-color: #272940;
    color: #f1c40f;
}